Library.Tests/bin/
Library.Tests/obj/
Library/bin/
Library/obj/
packages/
bower_components/
node_modules/
/Library/ExternalResource/bootstrap
/Library/ExternalResource/jquery/scripts
/Library.Domain/obj/Debug
/Library.Domain.Tests/obj/Debug
/Library/Resources/scripts
/Library/Resources/content/bootstrap/fonts
/Library/ExternalSource/bootstrap/less
