@model Library.Domain.Entities.Books.BookCollection

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>
<div id="addItem"></div>
<div id="booksList"></div>
<div id="footer"></div>
<script type="text/babel">
    ReactDOM.render(<ListFooter />,document.getElementById("footer"));
    ReactDOM.render(<BookList url="/Books/GetAll" />,document.getElementById("booksList"));
</script>

