<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Resources/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Resources/styles/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Resources/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Resources/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Resources/scripts/react.js"></script>
    <script type="text/javascript" src="~/Resources/scripts/react-dom.js"></script>
    <script type="text/javascript" src="~/Resources/scripts/browser.js"></script>
    <script type="text/javascript" src="~/Resources/scripts/marked.js"></script>
    <script type="text/javascript" src="~/Resources/scripts/main.js"></script>
</body>
</html>
