<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Resources/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Resources/scripts/bootstrap.js"></script>
</body>
</html>
