<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Resources/styles/main.css" rel="stylesheet" />*@

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/babel/browser.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>
